
<div class="row">
  <div class="col-lg-10 col-offset-2">
    <div class="well bs-component">
      <form name="registerForm" class="form-horizontal" (ngSubmit)="onSubmit(email, password, name, surname, username, homephonenumber, mobilenumber)" >
        <fieldset>
          <legend>Register</legend>
          <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Name" required minlength="4" maxlength="24">
            </div>
          </div>
          <div class="form-group">
            <label for="surname" class="col-lg-2 control-label">Surname</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="surname" [(ngModel)]="surname" placeholder="Surname"  required minlength="4">
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-lg-2 control-label">UserName</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username"  required minlength="4" maxlength="20">
            </div>
          </div>
          <div class="form-group">
            <label for="homephonenumber" class="col-lg-2 control-label">Home Phone Number</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="homephonenumber" [(ngModel)]="homephonenumber" placeholder="HomePhoneNumber"  minlength="4" maxlength="20">
            </div>
          </div>
          <div class="form-group">
            <label for="mobilenumber" class="col-lg-2 control-label">Mobile Phone Number</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="mobilenumber" [(ngModel)]="mobilenumber" placeholder="MobileNumber"  minlength="4" maxlength="20">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email"  required minlength="4" >
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password"  required minlength="4">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
  