    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sports Store Admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" *ngIf="checkIfUserLoggedIn()">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
            <li><a routerLink="/brands" routerLinkActive="active">Brands</a></li>
            <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
            <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
            <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
          </ul>
          <ul class="nav navbar-nav" *ngIf="!checkIfUserLoggedIn()">
            <li ><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li ><a routerLink="/register" routerLinkActive="active">Register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
