<h1>Categories</h1>
<p class="lead">This is the list of categories</p>
<form>
<div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" class="form-control input-lg" placeholder="search categories..." />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button" (click)="searchCategories()">
                    <i class="glyphicon glyphicon-search" ></i>
                </button>
            </span>
        </div>
</div>
</form>
<p></p>

<div class="input-group col-md-12">
    <table class="table table-condensed">
        <tbody>
            <tr *ngFor="let res of categories" >
                <div id="custom-search-input">
                    <div class="input-group col-md-12 ">
                        <h4>{{res.name}}</h4>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" (click)="editCategory(res.id)">
                                    <i class="glyphicon glyphicon-edit" ></i>
                                </button>
                            </span>
                        </div>
                </div>
                
            </tr>
        </tbody>
    </table>
</div>

<div id="content" class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, 
      <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>