
<div class="row">
  <div class="col-lg-6 col-offset-2">
    <div class="well bs-component">
      <form class="form-horizontal" (ngSubmit)="onSubmit(email, password)" >
        <fieldset>
          <legend>Login</legend>
          <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
        <fieldset>
            <div>
              <p>Use test@test.com - Pas$word (admin)</p>
              <p>Use normal@test.com - NoRmaL (normal user)</p>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>